<div>
    <h2>Lista de Empregados</h2>
    <br/>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let empregado of empregados">
                        <td> {{ empregado.nome }} </td>
                        <td> {{ empregado.sobrenome }} </td>
                        <td> {{ empregado.email }} </td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>