<!-- HEADER -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="empregados" routerLinkActive="active" class="nav-link">Lista de Empregados</a>
        </li>
        <li class="nav-item">
            <a routerLink="empregados-add" routerLinkActive="active" class="nav-link">Novo Empregado</a>
        </li>
    </ul>
</nav>

<!-- TÍTULO -->
<h1 class="text-center">[ EMPREGADOS ]</h1>
<h4 class="text-center">Angular and Spring Full-Stack App</h4>
<br>

<!-- COMPONENTES -->
<div class="container">
    <router-outlet></router-outlet>
    <!--<app-empregados-list></app-empregados-list>-->
</div>

<!-- FOOTER -->
<!--<footer class="footer">
    <div class="container">
        <span>Todos os direitos reservados 2021 @Wkn</span>
    </div>
</footer>-->